.qr-code {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 20px;
}

.qr-code svg {
	margin: 20px;
	border: 1px solid #000;
	max-width: 100%;
	height: auto;
}

.qr-code-caption {
	
}